<a href="https://colab.research.google.com/github/RinkiGupta/RG_ECE319/blob/main/lab/4_lab_files.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Experiment 4

## AIM

Write a Python program

*   Create two new files f1 and f2
*   Read and Display the contents of files f1 and f2
*   Count the number of lines in f1.
*   Create and display the file f3 which is a combination of f1 and f2.

## Description


Functions used

## Program

In [ ]:
lst1 = ['Aug','Sep','Oct','Nov','Sep','Jul','Aug','Sep']
lst2 = [1,2,3,4, 2,4,4,1]

In [ ]:
# Write list lst1 into file file1.txt and

In [ ]:
# Write list lst2 into file file2.txt

In [ ]:
# deleting lst1 and lst2
del lst1, lst2

In [ ]:
# Read contents of file1.txt and display them

# Display the number of lines in file1

Contents of file1.txt:
Aug
Sep
Oct
Nov
Sep
Jul
Aug
Sep
Number of lines in file1.txt: 8

In [ ]:
# Read contents of file2.txt and display them

# Display the number of lines in file2

Contents of file2.txt:
1
2
3
4
2
4
4
1
Number of lines in file2.txt: 8

In [ ]:
# Create a file3.txt, which is a combination of file1.txt and file2.txt


# Display contents of file3.txt

Contents of file3.txt:
1 Aug 2020
2 Sep 2020
3 Oct 2020
4 Nov 2020
2 Sep 2020
4 Jul 2020
4 Aug 2020
1 Sep 2020

In [ ]:
# Create a file4.txt, which is a combination of file1.txt and file2.txt


# Display contents of file4.txt

Contents of file4.txt:
Aug
Sep
Oct
Nov
Sep
Jul
Aug
Sep
1
2
3
4
2
4
4
1

## Conclusion